//Colors
$blue: #77939f;
$black: #272727;

//Media Query
$xxs: 479px;
$xs : 768px;
$sm: 992px;
$md: 1200px;
$lg: 1600px;

//Font Family
$headerFont: 'Rock Salt', sans-serif;
$textFont: 'Raleway', sans-serif;