@import "_variables.scss";
@import "_mixins.scss";

* {
    @include boxSizing;
}
html {
    font-size: 20px;
    @include mQ($md) {
        font-size: 18px;
    }
}
.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
h2 {
    font-family: $headerFont;
    color: $black;
    font-size: 1.5rem;
}
h3 {
    font-family: $textFont;
    color: $black;
    font-size: 1.5rem;
}
button {
    background-color: $blue;
    border: none;
    padding: 0.5rem 2rem;
    a {
        font-family: $textFont;
        color: white;
        font-size: 0.8rem;
        letter-spacing: 1px;
    }
}
.blue {
    color: $blue !important;
}

//////////////////
// NAVBAR START //
//////////////////
.navbar {
    border-radius: 0;
    .navbar-brand {
        font-family: $headerFont;
        font-size: 2.5rem;
        color: $black;
        transition: 0.1s;
    }
    .navbar-toggler-icon {
        color: $black;
        transition: 0.1s;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            color: $blue;
        }
    }
    ul {
        li {
            a { 
                color: $black;
                transition: 0.1s;
                &:hover {
                    background-color: white !important;
                    color: $blue;
                }
            }
        }
    }
} //nav end

///////////////////
// LANDING START //
///////////////////
#landing {
    margin-top: 15vmin;
}